.sky-scroll {
  width: 100%;
  min-height: 100vh;
  height: 127vh;
  background: var(--sky-bg);
  position: relative;
  overflow: hidden;
  transition: background 0.3s linear;
}

.layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  pointer-events: none;
}

.layer img {
  display: block;
  width: auto;
  height: 100%;
  max-width: none;
  object-fit: cover;
  transform: scale(var(--img-scale, 1));
  transform-origin: center;
}

.cloud {
  --img-scale: 0;
  position: absolute;
  top: -80px;
  left: 600px;
  z-index: 3;
}

.mountain {
  filter: brightness(1);
  --img-scale: 1.05;
  position: absolute;
  top: -90px;
  left: 50px;
  z-index: 0;
}

.ground {
  --img-scale: 1.05;
  position: absolute;
  top: 120px;
  left: 62px;
  z-index: 1;
}
