.sky-scroll {
  width: 100vw;
  height: 100vh;
  background: rgb(20, 30, 60);
  position: relative;
  overflow: hidden;
  transition: background 0.3s linear;
}

.layer {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  transform-origin: top left;
  pointer-events: none;
}

.layer img {
  transform: scale(var(--img-scale, 1));
  transform-origin: center;
  display: block;
  width: auto;
  height: auto;
  max-width: none; 
}

.cloud {
  --img-scale: 0.4;
  position: absolute;
  top: -80px;
  left: 600px;
  z-index: 3;
}

.mountain {
  --img-scale: 2;
  position: absolute;
  top: 200px;
  left: 645px;
  z-index: 0;
}

.ground {
  --img-scale: 9;
  position: absolute;
  top: 120px;
  left: 1100px;
  z-index: 1;
}
