.sky-scroll {
  width: 100%;
  height: 100vh;
  background: rgb(20, 30, 60);
  position: relative;
  overflow: hidden;
  transition: background 0.3s linear;
}

.layer {
  position: absolute;
  width: 100%;
  left: 0;
}

.layer img {
  width: 100%;
  display: block;
}

.cloud {
  width: 29%;
  top: 5%;
  left: 700px;
  z-index: 3;
}

.mountain {
  bottom: -30%;
  z-index: 0;
}

.ground {
  bottom: -150%;
  z-index: 1;
}
