.sky-scroll {
  width: 100vw;
  height: 127vh;
  background: rgb(20, 30, 60);
  position: relative;
  overflow: hidden;
  transition: background 0.3s linear;
}

.layer {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  transform-origin: top left;
  pointer-events: none;
}

.layer img {
  transform: scale(var(--img-scale, 1));
  transform-origin: center;
  display: block;
  width: auto;
  height: auto;
  max-width: none; 
}

.cloud {
  --img-scale: 0.0000001;
  position: absolute;
  top: -80px;
  left: 600px;
  z-index: 3;
}

.mountain {
  filter: brightness(1);
  --img-scale: 1.6;
  position: absolute;
  top: 100px;
  left: 340px;
  z-index: 0;
}

.ground {
  --img-scale: 1.6;
  position: absolute;
  top: 410px;
  left: 350px;
  z-index: 1;
}
