.profiles-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 2000px;
  margin: 50px auto;
  padding: 40px;
  font-family: "Inter", sans-serif;
  background-color: #424242b0;
  border-radius: 16px;
  .profile-card:last-child {
    grid-column: 1 / span 2;
    justify-self: center;
    max-width: 600px;
  }
}

.team-header {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 30px;
  color: #000000;
}

.team-header h2 {
  font-size: 2rem;
}

.profile-card {
  display: flex;
  align-items: center;
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 20px;
  backdrop-filter: blur(6px);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.about-text {
  color: #ddd;
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto 30px auto;
  text-align: center;
}

.profile-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 24px;
  border: 2px solid #fff;
}

.profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.profile-text {
  display: flex;
  flex-direction: column;
}

.profile-name {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  padding-bottom: 6px;
  position: relative;
}

.profile-name::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  margin-top: 4px;
}

.profile-job {
  margin-top: 4px;
  color: #ccc;
  font-size: 1.1rem;
}

.profile-description {
  color: #aaa;
  font-size: 0.95rem;
  line-height: 1.4;
  max-width: 300px;
}
.about-intro {
  text-align: center;
  color: #000000;
  max-width: 800px;
  margin: 40px auto;
}

.timeline-section {
  position: relative;
  margin: 60px auto;
  max-width: 900px;
  color: #000000;
}

.timeline {
  position: relative;
  height: 6px;
  background: #666;
  border-radius: 3px;
  margin-top: 40px;
}

.timeline-item {
  position: absolute;
  transform: translateX(-50%);
  bottom: -60px;
  text-align: center;
}

.timeline-dot {
  width: 7px;
  height: 40px;
  background: #020202;
  margin: auto;
  margin-bottom: -18px;
}

.timeline-info {
  margin-top: 10px;
  font-size: 0.9rem;
}
.timeline-info h3 {
  margin-bottom: 0px;
}


.games-section {
  text-align: center;
  color: #fff;
  margin: 60px auto;
  max-width: 1200px;
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.game-card {
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 20px;
  transition: transform 0.2s ease;
}

.game-card:hover {
  transform: translateY(-5px);
}

.game-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}
