.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: var(--transparent);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-active {
  background-color: var(--overlay);
  --text: var(--text-2);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.Hamburger
{
    visibility: hidden;
    padding: 0px;
    margin: 0px;
    position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  pointer-events: none;
}
.header-left {
  display: flex;
  align-items: center;
}

.header h1 {
  color: var(--text);
  font-size: 18px;
  transition: color 0.3s ease;
}

.header-active h1 {
  color: var(--text-2);
}
.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  color: var(--text);
}
.nav-links {
  margin-right: 0px;
}
.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  color: var(--text);
}
.nav-links a:hover {
  color: var(--accent);
}

.social-links a {
  margin-left: 10px;
  font-size: 24px;
  color: var(--text);
}

.social-links a:hover {
  color: var(--accent);
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--accent);
}
.profile-pic {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
