:root {
  --bg: #0b0c0f81;
  --text: #333333;
  --accent: #8eac89;
  --accent-dark: #6f8a6c;
    --bg1: #ffffff54;
  --link-hover: var(--accent);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: var(--bg1);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 18px;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: var(--text);
}
.nav-links {
  margin-right: 160px;
}
.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: var(--text);
}
.nav-links a:hover {
  color: var(--accent);
}

.social-links a {
  margin-left: 10px;
  font-size: 24px;
  color: var(--text);
}

.social-links a:hover {
  color: var(--accent);
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--accent);
}
.profile-pic {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
