:root {
  --bg: #003bec;
  --text: #ffffff;
  --text2: rgb(0, 0, 0);
  --accent: #8eac89;
  --accent-dark: #6f8a6c;
  --bg1: #95b7cb00;
  --bg2: #95b7cbb6;
  --link-hover: var(--accent);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: var(--bg1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.header-active {
  background-color: var(--bg2);
  --text: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header-left {
  display: flex;
  align-items: center;
}

h1 {
  color: var(--text);
  font-family: "Press Start 2P", cursive;
  font-size: 18px;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: var(--text);
}
.nav-links {
  margin-right: 171px;
}
.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: var(--text);
}
.nav-links a:hover {
  color: var(--accent);
}

.social-links a {
  margin-left: 10px;
  font-size: 24px;
  color: var(--text);
}

.social-links a:hover {
  color: var(--accent);
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--accent);
}
.profile-pic {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
