.footer {
  background-color: var(--surface);
  color: var(--text-accent);
  text-align: center;
  padding: 10px 20px;
  border-top: 1px solid var(--border);
}
.footer .socials a {
  margin: 0 3px;
  color: var(--text-accent);
  font-size: 1.3rem;
}
.footer .socials {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--text-accent);
}

.footer .socials a:hover {
  color: var(--accent);
}
.footer p {
  margin-top: 10px;
  font-size: 0.9rem;
  color: var(--text-accent);
}
