.footer {
  background-color: #0f172a;
  color: #94a3b8;
  text-align: center;
  padding: 10px 20px;
  border-top: 1px solid #1e293b;
}
.footer .socials a {
  margin: 0 3px;
  color: #cbd5e1;
  font-size: 1.3rem;
}
.footer .socials {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #cbd5e1;
}

.footer .socials a:hover {
  color: #f88181;
}
.footer p {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #94a3b8;
}
